
package main


import (
	"fmt"
	"github.com/smsaero/smsaero_golang"
)


const (
	// Get credentials from account settings page: https://smsaero.ru/cabinet/settings/apikey/
	email  = "your email"
	apiKey = "your api key"
)


func main() {
	client := smsaero_golang.NewSmsAeroClient(email, apiKey)

	balance, err := client.Balance()
	if err != nil {
		panic(err)
	}

	if balance <= 0 {
		panic("Insufficient balance")
	}

	fmt.Println(balance)
}
